---
layout: single
author_profile: true
---

{% include base_path %}

<h2 style="display: inline-block; width: 100%; margin: 0 0 0.5em;">Games I've worked on</h2>
<div class="grid__wrapper">
	
  {% assign sorted_p = site.misc_work | sort:'path' %}  
  
  {% for post in sorted_p %}
    {% include archive-single.html type="grid" %}
  {% endfor %}
</div>
<h2 style="display: inline-block; width: 100%; margin: 0 0 0.5em;">My own games/demos</h2>
<div class="grid__wrapper">

  {% assign sorted_p = site.portfolio | sort:'path' %}  
  
  {% for post in sorted_p %}
    {% include archive-single.html type="grid" %}
  {% endfor %}
</div>